body {
    background-color: #152540;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}
h1{
    font-weight: bold;
    background-color: #070724;
    border-bottom: solid #ffffff;
}
p {
    font-size: 20px;
}
input{
    border: 5px solid #12111f;
    border-radius: 7px;
}
input[type=text]{
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}
input[type=email]{
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}
input[class=cep]{
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
}
input[class=num]{
    width: 14%;
    padding-top: 5px;
    padding-bottom: 5px;
}
input[type=button]{
    width: 9%;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.dark{
    background-color: #12111f;
}
div.bottom{
    border-bottom: solid #ffffff;
}
div.main{
    border-left: solid #ffffff;
    border-right: solid #ffffff;
}
div.top{
    border-top: solid #ffffff;
}